*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: #FDCA40;
  font-family: 'Lato', sans-serif;
  color: #31393C;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
}

/*navbar */

.navbar {
  background-image: url('../img/bee-tiles.png');
  min-height: 150px;
  position: relative;
  overflow: auto;
}

.navbar h1 {
  font-family: 'Exo 2', sans-serif;
  margin-left: 50px;
  font-variant: small-caps;
}

.navbar-gradient {
  background: linear-gradient(to top,#FDCA40 0,rgba(251,251,251,0) 55%);
  height: 150px;
  padding-top: 30px;
}

.top-menu ul {
  margin:0;
  padding:0;
  list-style:none;
}
.top-menu li {
  display:inline;
  margin-left: 30px;
  padding:0;
}

.top-menu a:hover {
  color: white;
}

.top-menu {
  float: right;
  position: relative;
  bottom: 50px;
  right: 50px;
}

/*content*/

.featured-content, .pricing-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  margin-top: 30px;
}

.featured-image {
  float: right;
  margin-left: 30px;
}

.product-description {
  line-height: 1.8;
  font-size: 1.5em;
  padding-top: 20px;
}

.buy-now {
  margin-left: 20%;
  margin-top: 40px;
}

.main-button {
  border: 2px solid;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #FDCA40;
}

/*gallery*/

.gallery {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

.image-tile {
  float: left;
  margin-right: 30px;
}

.gallery-image {
  margin-bottom: 30px;
}

/*features*/

.feature-description {
  display: none;
  border: 2px solid;
  border-color: #31393C;
  border-radius: 5%;
  padding: 20px;
  max-width: 300px;
  margin-left: 10px;
  float: right;
}

/*.product-description p::first-letter {
  color: #000B02;
  font-size: 3em;
  font-weight: bold;
  padding-right: 20px;
  margin-top: -25px;
  float: left;
}*/

div div:hover > .feature-description {
  display: inline-block;
}

/*pricing page*/

.price-options {
  float: left;
  width: 33%;
  padding: 10px;
}

.price {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2)
}

.price-plan {
  background-color: #31393C;
  color: white;
}

.price li {
  border-bottom: 1px solid #D7DEDC;
  padding: 25px;
  text-align: center;
}

.price .highlight {
  background-color: #D7DEDC;
}

.purchase-button {
    background-color: #5386E4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/*https://coolors.co/fcba04-fdca40-31393c-5386e4-d7dedc*/
